@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  background-color: #141414;
  font-family: 'Poppins', sans-serif;
}

header
{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title
{
  color: rgb(207, 25, 25);
  font-weight: 700;
  font-size: 20px;
}

.header-input
{
  background-color: #191919;
  border: none;
  outline: none;
  color: rgb(185, 185, 185);
  padding: .5rem;
  width: 10rem;
}

.header-input::placeholder
{
  font-size: 12px;
}

.movies-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie 
{
  position: relative;
  margin-bottom: 3rem;
  width: 300px;
  height: 420px;
  margin: 1rem;
  transition: all .4s ease;
}

.movie:hover
{
  width: 310px;
  height: 430px;
}

.movie:hover img
{
  width: 310px;
  height: 430px;
}

.movie-image
{
  width: 300px;
  height: 420px;
  transition: all .4s ease;
}

.movie-info
{
  background-color: rgb(33, 32, 32);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.movie-title
{
  color: rgb(185, 185, 185);
  font-weight: 700;
}

.movie-year
{
  color: rgb(207, 25, 25);
  font-weight: 500;
  background-color: rgb(40, 40, 40);
  padding: .2rem .4rem;
}

::-webkit-scrollbar
{
  width: .75rem;
}

::-webkit-scrollbar-track
{
  background-color: #141414;
}

::-webkit-scrollbar-thumb
{
  background: rgb(40, 40, 40);
  border-radius: 2rem;
}

@media screen and (min-width: 768px) {
  .header-title
  {
    font-size: 25px;
  }

  .header-input
  {
    background-color: #191919;
    border: none;
    outline: none;
    color: rgb(185, 185, 185);
    padding: .5rem;
    width: 15rem;
  }

  .header-input::placeholder
  {
    font-size: 14px;
  }
}